{% extends "base.html" %}

{% block title %}
	Add
{% endblock %}

{% block content %}
	{# TODO: add some stuff to see. #}
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tristique iaculis leo id imperdiet. Sed tellus ligula, consectetur in est at, gravida commodo est. Duis dignissim ante nunc, nec vehicula tellus dapibus id. Aliquam erat volutpat. Aenean venenatis pharetra enim, dictum vulputate tortor sagittis eget. Quisque venenatis urna a turpis facilisis, at luctus enim blandit. Duis convallis elit id tristique feugiat. Phasellus eu dui suscipit, euismod tortor vitae, iaculis purus. Quisque scelerisque varius mi, ut viverra turpis dapibus volutpat. Pellentesque accumsan et dui et sollicitudin
	</p>
{% endblock %}

